<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header.html"></div>
<body>
<div th:replace="fragments/navbar.html"></div>

<!-- Profile page -->
<div class="container mt-5">
    <div>
        <a href="/admin/manage/view-members"><button class="btn btn-primary">View Members</button></a> <!-- Redirect to seachMember page showing all members-->
        <a href="/admin/manage/view-books"><button class="btn btn-primary">View Books</button></a> <!-- Redirect to search page showing all books-->
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1 class="h1 mb-3 font-weight-normal">Add Book</h1>
            <form action="/admin/manage/" method="post" class="p-3 rounded login-signup-form">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" required>
                </div>
                <div class="form-group ">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" name="author" id="author" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<br>

<div th:replace="fragments/footer.html"></div>
</body>
</html>
