<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header.html"></div>
<body>
<div th:replace="fragments/navbar.html"></div>

    <!-- Signup form -->
    <div class="container mt-5">
        <h1 class="h1 mb-3 font-weight-normal">Member Sign Up</h1>
        <form action="/signup" method="post" class="p-3 rounded login-signup-form">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First name" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last name" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input type="password" pattern=".{8,}" class="form-control" name="password" id="password" placeholder="Password" autofocus required title="Please enter at least 8 characters">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="librarian">Librarian?</label>
                    <input type="checkbox" class="form-control" name="librarian" id="librarian">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Signup</button>
            <div th:if="${message != null}">
                <p th:text="${message}"></p>
            </div>
        </form>
        <p class="lead mt-3 mb-0">Already a member? <a href="/login">Login</a></p>
    </div>

<div th:replace="fragments/footer.html"></div>
</body>
</html>