<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="fragments/header.html"></div>
<body>
<div th:replace="fragments/navbar.html"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <h1 class="h1 mb-3 font-weight-normal">View Books</h1>
        </div>
        <div class="col-md-9">
            <div class="float-right">
                <div th:if="${user != null}">
                    <div th:if="${user.librarian == true}">
                        <a th:href="@{|admin/manage/${user.id}|}">Back to Manage</a>
                    </div>
                </div>
                <a href="/">Back to Home</a>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <div th:if="${user != null}">
                    <div th:if="${user.librarian == true}">
                        <th>ID</th>
                    </div>
                </div>
                <th>Title</th>
                <th>Author</th>
                <th>Available</th>
                <th>Reserved</th>
                <div th:if="${user != null}">
                    <div th:if="${user.librarian == true}">
                        <th>UserID</th>
                        <th>ReservedID</th>
                        <th>Due Date</th>
                        <th>Action</th>
                    </div>
                    <div th:if="${user.librarian == false}">
                        <th>Loan Book</th>
                        <th>Reserve Book</th>
                    </div>
                </div>
            </tr>
        </thead>
        <tbody>
            <div th:if="${books == null}">
                <tr>
                    <td>No books</td>
                </tr>
            </div>
            <div th:unless="${books == null}">
                <div th:each="book : ${books}">
                    <tr>
                        <div th:if="${user != null}">
                            <div th:if="${user.librarian == true}">
                                <td th:text="${book.id}"></td>
                            </div>
                        </div>
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.available}"></td>
                        <td th:text="${book.reserved}"></td>
                        <div th:if="${user != null}">
                            <div th:if="${user.librarian == true}">
                                <td th:text="${book.userid}"></td>
                                <td th:text="${book.reservedid}"></td>
                                <td th:text="${book.duedate}"></td>
                                <td><a th:href="@{|/admin/manage/edit-book/${book.id}|}"><button class="btn btn-primary">Edit</button></a></td>
                            </div>
                            <div th:if="${user.librarian == false}">
                                <td><a th:href="@{|user/loan-book/${book.id}|}">
                                    <button th:disabled="${book.available == false}" class="btn btn-primary">Loan Book</button>
                                </a>
                                </td>
                                <td>
                                    <a th:href="@{|user/reserve-book/${book.id}|}">
                                        <button th:disabled="${book.reserved == true}" class="btn btn-primary">Reserve Book</button>
                                    </a>
                                </td>
                            </div>
                        </div>
                    </tr>
                </div>
            </div>
        </tbody>
    </table>
</div>

<div th:replace="fragments/footer.html"></div>
</body>
</html>