<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4">
    <a class="navbar-brand" href="/">LMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-3">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <div th:if="${user == null}">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </div>
            <div th:if="${user != null}">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </div>
            <div th:if="${user != null and user.librarian == true}">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/admin/manage/${user.id}|}">Manage</a>
                </li>
            </div>
            <div th:if="${user != null and user.librarian == false}">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/user/profile/${user.id}|}">Profile</a>
                </li>
            </div>
        </ul>
        <form th:object="${book}" th:action="@{/books}" method="get" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" name="search" id="search" th:value="${search}" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit" value="Search">Search</button>
        </form>
    </div>
</nav>
